@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Established in 1996, we've been serving the Wentzville area for 23 years, and pride ourselves on our wide selection.
    We carry records from multiple years, and most genres of music. Additionally, you can ask about our used music buying
    program! We will purchase your used records, tapes, and CDs, so long as they are in playable condition. These
    purchases much be made in person, rather that on the phone or via email.
</p>

<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Eq5EDXNe-HQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

