@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/RecordStore1.jpg" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/Content/Images/RecordStore2.jpg" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/Content/Images/RecordStore3.jpg" alt="New york" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>We buy used music!</h2>
        <p>
            We buy used records, CDs, and DVDs! While there is no appointment necessary, we ask that
            you come in at least an hour before closing. All items must be im playable condition.
        </p>
    </div>
    <div class="col-md-4">
        <h2>All types of music.</h2>
        <p>We sell music from any genre and and time. No record is to obscure for us!</p>
    </div>
    <div class="col-md-4">
        <h2>Store hours and location</h2>
        <p>Sun - Sat: 10AM to 8PM<br /><br />
        
        751 Parr Rd<br />
        Wentzville, MO 63385</p>
    </div>
</div>